.container {
    margin: 25px;
}

.link-cupboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.link-box {
    border: 1px solid black;
    margin: 25px;
    padding: 15px;
}
